@import url('https://fonts.googleapis.com/css?family=Varela+Round');



body,
html {
  width: 100%;
  height: 100%;
  background: #1c1d22;
  font-family: 'Varela Round', sans-serif;
  overflow: hidden;
}

body {
  background-image: url('../../assets/tokyo.jpg');
  background-size: cover;
}

:root {
  --color1: #ffb7c5;

  --color2: #ff5f7e;
}




